.tasks-container{
  margin: .8rem 0;
}

.tasks-item{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid;
}

.task-toggle{
  width: 24px;
  height: 24px;
}

.task-content{
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.task-description{
  font-size: 20px;
  font-weight: 500;
}

.task-description.complete{
  color: #ffffff7c;
  text-decoration: line-through;
}