.tasks-container{
  margin: .8rem 0;
  height: 440px;
  overflow: auto;
}

.tasks-item{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid var(--primary-border);
}

.checkbox-wrapper input[type="checkbox"]{
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

.custom-checkbox{
  display: inline-block;
  background-color: var(--background);
  border: 2px solid var(--primary-border);
  width: 24px;
  height: 24px;
}

.checkbox-wrapper input[type="checkbox"]:checked + .custom-checkbox{
  background-color: var(--secondary-background);
}

.task-content{
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.task-description{
  font-size: 20px;
  font-weight: 600;
}

.task-description.complete{
  color: #585858;
  text-decoration: line-through;
}

.task-actions{
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-actions > button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}