.todo-container{
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo-title{
  font-size: 2rem;
  text-transform: uppercase;
  margin: 40px 0px 18px;
}

.todo-header{
  height: 38px;
  display: flex;
  justify-content: space-between;
}

.todo-header > button{
  padding: 0px 1rem 0px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.search{
  height: 100%;
  width: 595px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid white;
  background-color: transparent;
  padding: 5px 10px;
}