.todo-container{
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo-title{
  font-size: 2rem;
  text-transform: uppercase;
  margin: 40px 0px 18px;
  color: var(--text-primary);
}