
.todo-header{
  height: 38px;
  display: flex;
  justify-content: space-between;
}

.todo-header > button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px .8rem 0px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.filter-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 5px;
  background-color: var(--secondary-background);
  padding: .5rem;
  position: relative;
  cursor: pointer;
}

.filter-container .filter-details{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: white;
}

.filter-container span{
  margin-right: 5px;
}

.filter-container .options{
  position: absolute;
  top: 110%;
  background-color: #6b6b6b;
  border-radius: 5px;
  /* padding: .5rem 0; */
  overflow: hidden;
  color: var(--purple);
  background-color: var(--background);
  border: 2px solid var(--purple);
}

.options span{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .4rem .7rem;
}

.options .opt:hover{
  background-color: #8989894b;
}

.angledown{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search{
  height: 100%;
  width: 595px;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid var(--primary-border);
  background-color: transparent;
  padding: 5px 10px;
  color: var(--text-secondary);
  outline: none;
}

.theme-btn{
  background-color: var(--secondary-background);
  cursor: pointer;
}