:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --background: white;
  --secondary-background: #6C63FF;
  --text-primary: #242424;
  --text-secondary: #6C63FF;
  --purple: #6C63FF;
  --primary-border: #6C63FF;
  --secondary-border: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark']{
  --background: #242424;
  --text-primary: rgba(255, 255, 255, 0.87);
  --button-color: #6b6b6b;

}

body {
  width: 100vw;
  position: relative;
  background-color: var(--background);
  min-height: 100vh;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}